// Mode
$font: "Noto Sans KR", sans-serif;
$colorPuple: #6741d9;
$colorBlue: #3b5bdb;

body.dark-mode {
  transition: 0.5s;
  background-color: #222;
  a,
  h1,
  h3,
  span,
  p {
    color: white;
  }
  .m-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #222;
  }
  .footer-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #222;
    .footer-nav-inner {
      ul {
        li {
          span {
            color: white;
          }
        }
      }
    }
  }
  .home-transaction-link {
    border: 1px solid rgb(255 255 255 / 85%);
    background-color: rgb(255 255 255 / 85%);
    .transaction-title {
      span {
        color: #222;
      }
    }
  }
  .home-community {
    h3 {
      span {
        color: white;
      }
    }
    ul {
      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .home-community-info {
          .home-community-info-category {
            color: $colorBlue;
          }
          .home-community-info-nickname {
            color: white;
          }
          .home-community-info-count {
            color: white;
          }
        }
      }
    }
    .home-community-more-btn {
      background-color: rgba(255, 255, 255, 0.85);
      span {
        color: #222;
      }
    }
  }
  .footer {
    background-color: rgba(255, 255, 255, 0.85);
    p {
      color: black;
    }
    span {
      color: black;
    }
    .footer-copyright {
      span {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .login-page,
  .join-page,
  .mypage-page,
  .profile-page,
  .inqury-page,
  .notice-page,
  .community-page,
  .community-write-page,
  .transaction-page,
  .my-write-page,
  .my-post-page {
    .m-sub-nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background-color: #222;
      .m-sub-nav-inner {
        .back {
          svg {
            stroke: white;
          }
        }
      }
    }
    .login {
      .login-inner {
        form {
          button {
            background-color: rgb(255 255 255 / 85%);
            color: #222;
            font-weight: 600;
          }
        }
      }
    }
    .oauth-login-wrapper {
      ul {
        li {
          background-color: rgb(255 255 255 / 85%);
          span {
            color: #222;
          }
        }
      }
    }
    label {
      color: white;
    }
    form {
      button {
        background-color: rgb(255 255 255 / 85%);
        color: #222;
      }
    }
    .nav-swiper {
      background-color: #222;
      .swiper {
        span {
          color: white;
        }
        span.active {
          color: $colorBlue;
        }
      }
    }
  }
  .mypage-page {
    .mypage-inner {
      .profile {
        .profile-image {
          background-color: rgb(255 255 255 / 85%);

          box-shadow: 0 3px 10px 0 rgb(255 255 255 / 10%);

          svg {
            stroke: #868e96;
          }
        }
      }
      .business-box,
      .profile-box {
        box-shadow: 0 3px 10px 0 rgb(255 255 255 / 10%);
        background-color: rgb(255 255 255 / 85%);
      }
      .logout {
        background-color: rgb(255 255 255 / 85%);
        span {
          color: #222;
          font-weight: 500;
        }
      }
    }
  }
  .profile-page {
    .profile-inner {
      .profile-login-info,
      .profile-user-info {
        strong {
          color: white;
        }
        ul {
          li {
            p {
              font-weight: 300;
              color: white;
            }
            span {
              svg {
                fill: white;
              }
            }
          }
        }
      }
      .profile-secession {
        span {
          color: white;
        }
      }
    }
  }
  .inqury-page {
    .inqury-inner {
      form {
        label {
          color: white;
        }
        input {
          background-color: transparent;
          color: white;
          &::placeholder {
            color: #868e96;
          }
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
        .inqury-type-input.checked {
          border-bottom: 2px solid #fff;
        }
        textarea {
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
          background-color: transparent;
          color: white;
        }
      }
    }
  }
  .community-page {
    .community-inner {
      strong {
        color: white;
      }
      .community-list-info {
        span {
          color: white;
        }
        .comment {
          span {
            color: white;
          }
        }
      }
      .community-list {
        li {
          border-bottom: 1px solid #f1f3f5;
        }
      }
    }
    .cm-detail {
      strong {
        color: white;
      }
      .cm-detail-top-inner {
        border-bottom: 10px solid rgba(255, 255, 255, 0.85);
        .cm-detail-top {
          .cm-detail-user-info {
            span {
              &:nth-child(1) {
                color: white;
              }
            }
            .cm-detail-user-info-left {
              .cm-detail-user-image {
                background-color: rgba(255, 255, 255, 0.85);
                box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.1);
                svg {
                  stroke: #222;
                }
              }
            }
          }
        }
      }
      .cm-detail-mid-inner {
        border-bottom: 10px solid rgba(255, 255, 255, 0.85);
        .cm-detail-content {
          .toastui-editor-contents {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            strong,
            em,
            del {
              color: white;
            }
          }
        }
      }
      .cm-detail-bottom-inner {
        strong {
          color: #222;
        }
        .comment-list {
          ul {
            li {
              .comment-list-user-image {
                background-color: rgba(255, 255, 255, 0.85);
                box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.1);
              }
            }
          }
        }
      }
    }
  }
  .community-write-page {
    form {
      input {
        background-color: #222;
        color: white;
      }
      .cm-title {
        input {
          border: none;
        }
      }
      .editor {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        strong,
        em,
        del {
          color: white;
        }
        .toastui-editor-defaultUI-toolbar,
        .toastui-editor-contents,
        .toastui-editor-dropdown-toolbar {
          background-color: #222;
          button {
            background-color: #222;
            border: none;
            outline: none;
            color: white;
          }
        }
      }
      .toastui-editor-popup {
        background-color: #222;
        color: white;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: white;
        }
        div {
          color: white;
        }
        li {
          &:hover {
            background-color: transparent;
          }
        }
      }
      button.cm-submit {
        background-color: rgba(255, 255, 255, 0.85);
        color: #222;
        font-weight: 500;
      }
    }
  }

  .transaction-page {
    strong {
      color: white;
    }

    form {
      input {
        background-color: transparent;
        color: white;
      }

      .sell-box {
        .number-box {
          span {
            color: white;
          }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        strong,
        em,
        del {
          color: white;
        }
        .toastui-editor-defaultUI-toolbar,
        .toastui-editor-contents,
        .toastui-editor-dropdown-toolbar {
          background-color: #222;
          button {
            background-color: #222;
            border: none;
            outline: none;
            color: white;
          }
        }
      }
      .toastui-editor-popup {
        background-color: #222;
        color: white;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: white;
        }
        div {
          color: white;
        }
        li {
          &:hover {
            background-color: transparent;
          }
        }
      }
      button.transaction-sell-btn {
        background-color: rgba(255, 255, 255, 0.85);
        color: #222;
        font-weight: 500;
      }
    }

    .buy {
      .transaction-option-box {
        input {
          color: #222;
        }
      }
      .transaction-search-box {
        input {
          background-color: rgba(255, 255, 255, 0.85);
        }
        span {
          background-color: #f1f3f5;
          color: #222;
        }
      }
      .transaction-list {
        ul {
          li {
            background-color: rgba(255, 255, 255, 0.85);
          }
        }
      }
      .transaction-list-more {
        background-color: rgba(255, 255, 255, 0.85);
        color: #222;
        font-weight: 500;
      }
      .transaction-header {
        strong {
          color: black;
        }
      }
    }
    .load {
      color: white;
    }
    .transaction-detail {
      .transaction-detail-slide {
        background-color: rgba(255, 255, 255, 0.85);
      }
      .transaction-post-header {
        border-bottom: 10px solid rgba(255, 255, 255, 0.85);

        .price-info-box {
          background-color: rgba(255, 255, 255, 0.85);
        }
      }
      .transaction-post-body,
      .transaction-post-footer {
        h6 {
          color: white;
        }
        p {
          color: white;
        }
      }
      .transaction-post-body,
      .transaction-post-content {
        border-bottom: 10px solid rgba(255, 255, 255, 0.85);
      }

      .transaction-post-content {
        .transaction-post-content-wrapper {
          &::after {
            background: linear-gradient(
              0deg,
              rgba(34, 34, 34, 1) 0%,
              rgba(34, 34, 34, 0) 90%
            );
          }
          .toastui-editor-contents {
            color: white;
            em {
              color: white;
            }
          }
        }
      }
      .more-see-btn {
        background-color: rgba(255, 255, 255, 0.85);
        color: #222;
        font-weight: 500;
      }
    }
  }
  .my-write-page {
    .community-inner {
      strong {
        color: white;
      }
      .community-list-info {
        span {
          color: white;
        }
        .comment {
          span {
            color: white;
          }
        }
      }
      .community-list {
        li {
          border-bottom: 1px solid #f1f3f5;
        }
      }
    }
  }
  .my-post-page {
    .transaction-list {
      ul {
        li {
          background-color: rgba(255, 255, 255, 0.85);
        }
      }
    }
    .transaction-list-more {
      background-color: rgba(255, 255, 255, 0.85);
      color: #222;
      font-weight: 500;
    }
  }
}
