// Mode
$font: "Noto Sans KR", sans-serif;
$colorPuple: #6741d9;
$colorBlue: #3b5bdb;

body.dark-mode {
  transition: 0.5s;
  background-color: #222;
  a,
  h1,
  h3,
  span,
  p {
    color: white;
  }
  .m-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #222;
  }
  .footer-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #222;
    .footer-nav-inner {
      ul {
        li {
          span {
            color: white;
          }
        }
      }
    }
  }
  .home-transaction-link {
    border: 1px solid rgb(255 255 255 / 85%);
    background-color: rgb(255 255 255 / 85%);
    .transaction-title {
      span {
        color: #222;
      }
    }
  }
  .home-community {
    h3 {
      span {
        color: white;
      }
    }
    ul {
      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .home-community-info {
          .home-community-info-category {
            color: $colorBlue;
          }
          .home-community-info-nickname {
            color: white;
          }
          .home-community-info-count {
            color: white;
          }
        }
      }
    }
    .home-community-more-btn {
      background-color: rgba(255, 255, 255, 0.85);
      span {
        color: #222;
      }
    }
  }
  .footer {
    background-color: rgba(255, 255, 255, 0.85);
    p {
      color: black;
    }
    span {
      color: black;
    }
    .footer-copyright {
      span {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .login-page,
  .join-page,
  .mypage-page,
  .profile-page,
  .inqury-page {
    .m-sub-nav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background-color: #222;
      .m-sub-nav-inner {
        .back {
          svg {
            stroke: white;
          }
        }
      }
    }
    .login {
      .login-inner {
        form {
          button {
            background-color: rgb(255 255 255 / 85%);
            color: #222;
            font-weight: 600;
          }
        }
      }
    }
    .oauth-login-wrapper {
      ul {
        li {
          background-color: rgb(255 255 255 / 85%);
          span {
            color: #222;
          }
        }
      }
    }
    label {
      color: white;
    }
    form {
      button {
        background-color: rgb(255 255 255 / 85%);
        color: #222;
      }
    }
  }
  .mypage-page {
    .mypage-inner {
      .profile {
        .profile-image {
          background-color: rgb(255 255 255 / 85%);

          box-shadow: 0 3px 10px 0 rgb(255 255 255 / 10%);

          svg {
            stroke: #868e96;
          }
        }
      }
      .business-box,
      .profile-box {
        box-shadow: 0 3px 10px 0 rgb(255 255 255 / 10%);
        background-color: rgb(255 255 255 / 85%);
      }
      .logout {
        background-color: rgb(255 255 255 / 85%);
        span {
          color: #222;
          font-weight: 500;
        }
      }
    }
  }
  .profile-page {
    .profile-inner {
      .profile-login-info,
      .profile-user-info {
        strong {
          color: white;
        }
        ul {
          li {
            p {
              font-weight: 300;
              color: white;
            }
            span {
              svg {
                fill: white;
              }
            }
          }
        }
      }
      .profile-secession {
        span {
          color: white;
        }
      }
    }
  }
  .inqury-page {
    .inqury-inner {
      form {
        label {
          color: white;
        }
        input {
          background-color: transparent;
          color: white;
          &::placeholder {
            color: #868e96;
          }
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
        .inqury-type-input.checked {
          border-bottom: 2px solid #fff;
        }
        textarea {
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}
