@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

@import "Darkmode";

$font: "Noto Sans KR", sans-serif;
$colorPuple: #6741d9;
$colorBlue: #3b5bdb;

:root {
  --vh: 100%;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin suvNavStyle() {
  .m-sub-nav.hide {
    top: -56px;
    transition: 0.5s;
    border: none;
  }
  .m-sub-nav {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.5s;
    .m-sub-nav-inner {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .back {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          width: 20px;
          height: 20px;
          stroke-width: 1px;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .mode {
        span {
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
    .nav-swiper {
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #f1f3f5;
      .swiper-slide {
        width: auto !important;
        padding: 10px;
        &:first-child {
          padding-left: 5%;
        }
        span {
          font-size: 16px;
          color: #868e96;
          font-weight: 600;
        }
        span.active {
          color: #222;
        }
      }
    }
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  color: black;
}

// Body
body.active {
  height: 100vh;
  overflow-y: hidden;
}

// Footer-Nav
.footer-nav.hide {
  bottom: -60px;
  transition: 0.5s;
}
.footer-nav {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: 0.5s;
  .footer-nav-inner {
    width: 90%;
    margin: 0 auto;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        cursor: pointer;
        svg {
          display: block;
          width: 20px;
          height: 20px;
        }
        span {
          font-size: 10px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8);
          letter-spacing: -1px;
        }
      }
    }
  }
}

// Home{
.home {
  width: 100%;
  padding-top: 55px;
  transition: 0.5s;
  .m-nav.hide {
    top: -56px;
    transition: 0.5s;
    border: none;
  }
  .m-nav {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.5s;
    .m-nav-inner {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .m-logo {
        h1 {
          font-size: 24px;
          font-weight: 600;
          cursor: pointer;
          letter-spacing: -2px;
        }
      }
      .mode {
        span {
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .home-inner {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    .home-title {
      width: 100%;
      p {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 26px;
        display: flex;
        gap: 5px;
        &:nth-child(1) {
          font-weight: 400;
        }
      }
    }
    .home-biz-wrapper {
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .biz {
        width: 47%;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        p {
          font-size: 15px;
          color: white;
          font-weight: 600;
          letter-spacing: -1px;
          margin-bottom: 5px;
          text-align: center;
        }
        span {
          display: block;
          font-size: 11px;
          color: white;
          font-weight: 300;
          text-align: center;
          letter-spacing: -1px;
          margin-bottom: 4px;
        }
        .biz-image {
          margin-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          svg {
            width: 50px;
            height: 50px;
          }
        }
      }
      .biz-transaction {
        background-color: $colorBlue;
        background-image: -webkit-linear-gradient(
          -45deg,
          #748ffc 0%,
          #3b5bdb 80%
        );
        box-shadow: 0 4px 10px 0 rgb(59 91 219 / 40%),
          inset 0px 2px 3px rgb(255 255 255 / 10%),
          inset 0px 1px 1px rgb(255 255 255 / 20%),
          inset 0px -2px 3px rgb(0 0 0 / 12%),
          inset 0px -1px 2px rgb(0 0 0 / 25%);
      }
      .biz-invest {
        background-color: $colorPuple;
        background-image: -webkit-linear-gradient(
          -45deg,
          #9775fa 0%,
          #6741d9 80%
        );
        box-shadow: 0 4px 10px 0 rgb(103 65 217 / 40%),
          inset 0px 2px 3px rgb(255 255 255 / 10%),
          inset 0px 1px 1px rgb(255 255 255 / 20%),
          inset 0px -2px 3px rgb(0 0 0 / 12%),
          inset 0px -1px 2px rgb(0 0 0 / 25%);
      }
    }
  }
  .home-transaction-link {
    width: 100%;
    margin-top: 30px;
    border: 1px solid rgb(0 0 0 / 5%);
    background-color: rgb(0 0 0 / 5%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    .transaction-title {
      display: flex;
      flex-direction: column;
      gap: 2px;
      span {
        display: block;
        font-size: 12px;
        font-weight: 500;
        &:nth-child(2) {
          font-size: 13px;
          font-weight: 700;
          letter-spacing: -1px;
        }
      }
    }
    .transaction-btn {
      border: 1px solid #333;
      padding: 6px 10px;
      border-radius: 5px;
      background-color: #333;
      p {
        font-size: 12px;
        font-weight: 500;
        color: white;
        cursor: pointer;
      }
    }
  }

  .home-community {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    h3 {
      width: 100%;
      font-size: 19px;
      font-weight: 600;
      position: relative;
      padding: 20px 0;
      span {
        position: absolute;
        right: 0;
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }
    }
    ul {
      width: 100%;
      a {
        text-decoration: none;
      }
      li {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid rgb(0 0 0 / 5%);
        &:last-child {
          border-bottom: none;
        }
        p {
          width: 100%;
          font-size: 13px;
          font-weight: 600;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 5px;
        }
        .home-community-info {
          width: 100%;
          display: flex;
          gap: 2px;
          align-items: center;
          span {
            font-size: 12px;
            font-weight: 500;
          }
          .home-community-info-category {
            color: $colorPuple;
          }
          .home-community-info-nickname {
            color: rgba(0, 0, 0, 0.8);
          }
          .home-community-info-count {
            display: flex;
            align-items: center;
            gap: 3px;
            svg {
              display: block;
              width: 15px;
              height: 15px;
            }
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
    .home-community-more-btn {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 7px 0;
      border-radius: 10px;
      cursor: pointer;
      span {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 40px 0 0;
  .footer-inner {
    width: 90%;
    margin: 0 auto;
    .footer-info {
      width: 100%;
      p {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 3px;
        pointer-events: none;
      }
      span {
        display: block;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        pointer-events: none;
      }
    }
    .footer-info-list {
      width: 100%;
      margin-top: 20px;
      ul {
        width: 100%;
        @include flexCenter();
        gap: 20px;
        li {
          background-color: white;
          border-radius: 5px;
          padding: 7px 20px;
          @include flexCenter();
          cursor: pointer;
          span {
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
    .footer-terms {
      width: 100%;
      margin-top: 20px;
      @include flexCenter();
      gap: 20px;
      span {
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
  }
  .footer-copyright {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    @include flexCenter();
    padding: 10px 0;
    span {
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

// login
.login-page {
  width: 100%;
  @include suvNavStyle();

  .login {
    width: 100%;
    padding-top: 55px;
    .login-inner {
      width: 90%;
      margin: 0 auto;
      h1 {
        font-size: 28px;
        padding: 20px 0;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        input {
          height: 52px;
          padding: 15px 16px;
          font-size: 15px;
          border-radius: 10px;
          border: 1px solid rgb(0 0 0 / 15%);
          outline: none;

          &::placeholder {
            font-size: 13px;
            letter-spacing: 1px;
            color: rgba(0, 0, 0, 0.4);
            font-weight: 600;
          }
        }
        .login-alert {
          font-size: 12px;
          color: red;
          font-weight: 400;
        }
        button {
          margin-top: 10px;
          background-color: #212529;
          border-color: #212529;
          color: #fff;
          height: 56px;
          line-height: 54px;
          font-size: 14px;
          font-weight: 500;
          border-radius: 10px;
        }
      }
      .login-signin {
        width: 100%;
        margin: 15px 0;
        padding-left: 10px;
        span {
          font-size: 13px;
          font-weight: 400;
          cursor: pointer;
        }
      }
      .oauth-login-wrapper {
        width: 100%;
        margin-bottom: 50px;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid rgb(0 0 0 / 15%);
            @include flexCenter();
            position: relative;
            border-radius: 10px;
            cursor: pointer;
            svg {
              width: 24px;
              height: 24px;
              position: absolute;
              left: 20px;
            }
            span {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// Join
.join-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  padding-bottom: 50px;

  .join-inner {
    width: 90%;
    margin: 0 auto;
    form {
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      label {
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
        span {
          color: red;
        }
      }
      input {
        display: block;
        width: 100%;
        height: 52px;
        padding: 15px 16px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        outline: none;
        &::placeholder {
          font-family: $font;
          font-size: 12px;
          font-weight: 500;
        }
      }
      p {
        font-size: 11px;
        margin-top: 4px;
        color: red;
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .user-password-wrapper,
      .user-confirm-password-wrapper {
        position: relative;
        @include flexCenter();

        svg {
          position: absolute;
          right: 16px;
          z-index: 5;
          width: 20px;
          height: 20px;
          stroke-width: 2px;
          cursor: pointer;
          stroke: rgba(0, 0, 0, 0.3);
        }
      }
      .user-confirm-password-wrapper {
        margin-top: 25px;
      }
      button {
        margin-top: 10px;
        background-color: #212529;
        border-color: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        padding: 10px 0;
      }
    }
  }
}

// Mypage
.mypage-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  .mypage-inner {
    width: 90%;
    margin: 0 auto;
    .profile {
      padding: 20px 0;
      display: flex;
      .profile-image {
        width: 50px;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
        background-color: rgb(0 0 0 / 15%);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        svg {
          width: 100%;
          height: 100%;
          stroke-width: 1px;
          stroke: white;
        }
      }
      .profile-info {
        width: calc(100% - 50px);
        padding-left: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        p {
          font-size: 16px;
          font-weight: 600;
        }
        span {
          font-size: 10px;
          color: #868e96;
          font-weight: 600;
        }
      }
      svg.profile-click {
        position: absolute;
        right: 0;
        stroke: #868e96;
      }
    }
    .business-box,
    .profile-box {
      width: 100%;
      padding: 0 10px;
      box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
      border-radius: 10px;
      ul {
        width: 100%;
        li {
          @include flexCenter();
          padding: 10px 0;
          justify-content: flex-start;
          box-sizing: border-box;
          cursor: pointer;
          border-bottom: 1px solid #f1f3f5;

          &:last-child {
            border-bottom: none;
          }
          span {
            font-size: 13px;
            font-weight: 600;
            color: #222;
          }
        }
      }
    }
    .profile-box {
      margin-top: 30px;
    }
    .logout {
      width: 100%;
      margin: 30px 0;
      background-color: #212529;
      padding: 10px 0;
      @include flexCenter();
      border-radius: 10px;
      cursor: pointer;
      span {
        font-size: 13px;
        font-weight: 300;
        color: white;
      }
    }
  }
}

// Profile
.profile-page {
  width: 100%;
  padding-top: 55px;
  @include suvNavStyle();
  .profile-inner {
    width: 100%;
    margin: 20px auto 50px;
    .profile-login-info,
    .profile-user-info {
      width: 90%;
      margin: 0 auto;
      strong {
        display: block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 10px;
      }
      ul {
        width: 100%;

        li {
          padding: 10px 0;
          border-bottom: 1px solid #f1f3f5;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 8px;
          p {
            font-size: 12px;
            color: #868e96;
          }
          span {
            font-size: 14px;
            font-weight: 600;
            display: flex;
            gap: 5px;
            svg {
              width: 7px;
              height: 18px;
              fill: black;
            }
          }
          button {
            position: absolute;
            right: 0;
            color: #212529;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: #fff;
            outline: none;
            font-size: 11px;
            font-weight: 500;
            padding: 3px 8px;
            border-radius: 7px;
            @include flexCenter();
          }
        }
      }
    }

    .profile-user-info {
      margin-top: 20px;
    }
    .profile-secession {
      width: 90%;
      margin: 20px auto 0;
      span {
        font-size: 12px;
        color: #868e96;
        cursor: pointer;
      }
    }
    .profile-bg {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      opacity: 0;
      transition: 0.5s;
    }
    .profile-bg.show {
      opacity: 1;
      transition: 0.3s;
    }
    .edit-id.show,
    .edit-email.show,
    .edit-password.show,
    .edit-name.show,
    .edit-phone.show {
      transform: translateY(0%);
      transition: 0.5s;
    }
    .edit-id,
    .edit-email,
    .edit-password,
    .edit-name,
    .edit-phone {
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 110;
      background-color: white;
      padding: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transform: translateY(100%);
      transition: 0.5s;
      .edit-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        strong {
          font-size: 16px;
        }
        svg {
          width: 25px;
          height: 25px;
          stroke-width: 1.5px;
          cursor: pointer;
          stroke: #868e96;
        }
      }
      .edit-body {
        width: 100%;
        margin-top: 10px;
        form {
          width: 100%;
          input {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 2px solid #f1f3f5;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
          }
          .alert {
            margin-top: 4px;
            font-size: 11px;
            color: red;
            font-weight: 500;
          }
          // Password
          .password-wrapper,
          .confirm-password-wrapper {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            svg {
              position: absolute;
              right: 16px;
              z-index: 5;
              width: 20px;
              height: 20px;
              stroke-width: 2px;
              cursor: pointer;
              stroke: rgba(0, 0, 0, 0.3);
            }
          }
        }
        .password-change {
          input {
            &::placeholder {
              font-family: $font;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
      .edit-guide {
        margin-top: 20px;
        ul {
          width: 100%;
          li {
            span {
              font-size: 11px;
              font-weight: 500;
              color: #868e96;
            }
          }
        }
      }
      button {
        width: 100%;
        font-size: 14px;
        font-family: $font;
        font-weight: 500;
        color: white;
        background-color: #212529;
        border: none;
        outline: none;
        padding: 14px 0;
        margin-top: 20px;
        border-radius: 10px;
      }
    }
  }
}
// Inqury
.inqury-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  .inqury-inner {
    width: 90%;
    margin: 0 auto;
    form {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        label {
          font-size: 13px;
          color: black;
          font-weight: 600;
          span {
            font-weight: 500;
            color: red;
          }
        }
        .inqury-type-input.checked {
          transition: 0.5s;
          border-bottom: 2px solid #212529;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 2px solid #868e96;
          font-size: 14px;
          padding: 10px 0;
          font-weight: 600;
          transition: 0.5s;
        }

        textarea {
          width: 100%;
          height: auto;
          border: none;
          outline: none;
          border-bottom: 2px solid #868e96;
          resize: none;
          font-family: $font;
          font-weight: 600;
          font-size: 14px;
          padding: 10px 0;
        }
        .alert {
          margin-top: 4px;
          font-size: 11px;
          color: red;
          font-weight: 500;
        }
      }
      button {
        width: 100%;
        font-size: 14px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        color: white;
        background-color: #212529;
        border: none;
        outline: none;
        padding: 14px 0;

        border-radius: 10px;
        margin: 20px 0;
      }
    }
  }
  .inqury-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
  }
  .inqury-bg.show {
    opacity: 1;
    transition: 0.3s;
  }
  .inqury-type-box.show {
    transform: translateY(0%);
    transition: 0.5s;
  }

  .inqury-type-box {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 110;
    background-color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(100%);
    transition: 0.5s;
    .inqury-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      strong {
        font-size: 16px;
      }
      svg {
        width: 25px;
        height: 25px;
        stroke-width: 1.5px;
        cursor: pointer;
        stroke: #868e96;
      }
    }
    .inqury-body {
      width: 100%;
      ul {
        width: 100%;
        li {
          width: 100%;
          padding: 10px 0;
          cursor: pointer;
          border-bottom: 1px solid #f1f3f5;
          &:last-child {
            border: none;
          }
          span {
            font-size: 13px;
            font-weight: 600;
            color: black;
          }
        }
      }
    }
  }
}

// notice
.notice-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  .notice-inner {
    width: 90%;
    margin: 20px auto 50px;
    min-height: 60vh;
    ul {
      width: 100%;
      li {
        width: 100%;
        padding: 15px 0;
        border-bottom: 2px solid #f1f3f5;
        position: relative;
        cursor: pointer;
        &:last-child {
          border: none;
        }
        p {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        span {
          display: block;
          font-size: 14px;
          font-size: 600;
          color: #868e96;
        }
        svg {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          stroke-width: 1px;
          stroke: #868e96;
        }
      }
      .notice-error {
        width: 100%;
        height: 100%;
        @include flexCenter();
        span {
          font-size: 15px;
          font-weight: 600;
          color: black;
        }
      }
      .notice-bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        opacity: 0;
        transition: 0.5s;
      }
      .notice-bg.show {
        opacity: 1;
        transition: 0.3s;
      }
      .notice-detail.show {
        transform: translateY(0%);
        transition: 0.5s;
      }

      .notice-detail {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 110;
        background-color: white;
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transform: translateY(100%);
        transition: 0.5s;
        .notice-header {
          width: 100%;
          border-bottom: 1px solid #f1f3f5;
          padding: 10px 0 15px;
          .notice-header-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            strong {
              font-size: 18px;
            }
            svg {
              width: 25px;
              height: 25px;
              stroke-width: 1.5px;
              cursor: pointer;
              stroke: #868e96;
            }
          }
          .notice-header-bottom {
            width: 100%;
            .notice-date {
              font-size: 14px;
              color: #868e96;
              font-weight: 500;
            }
          }
        }
        .notice-body {
          padding: 15px 0;
          p {
            width: 100%;
            font-size: 14px;
            color: black;
            font-weight: 600;
          }
        }
      }
    }
  }
}
// community
.community-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 100px;
  .commnuity-write-btn {
    width: 14%;
    aspect-ratio: 1/1;
    background-color: $colorPuple;
    position: fixed;
    right: 5%;
    bottom: 15%;
    @include flexCenter();
    border-radius: 50%;
    cursor: pointer;
    svg {
      width: 50%;
      height: 50%;
      stroke: #f1f3f5;
    }
  }
  .no-community {
    width: 90%;
    margin: 0 auto;
    min-height: 60vh;
    @include flexCenter();
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .community-inner {
    width: 90%;
    margin: 0 auto;
    min-height: 60vh;
    ul {
      width: 100%;
      li {
        width: 100%;
        border-bottom: 2px solid #f1f3f5;
        padding: 14px 0;
        a {
          display: block;
          text-decoration: none;
          cursor: pointer;
          display: flex;
          flex-direction: column;
        }
        strong {
          font-size: 15px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
          color: black;
        }
        .community-list-info {
          width: 100%;
          display: flex;
          span {
            font-size: 13px;
            font-weight: 500;
            color: #222;
            &:nth-child(1) {
              color: $colorPuple;
            }
          }
          .comment {
            margin-left: 4px;
            display: flex;
            align-items: center;
            svg {
              width: 14px;
              height: 14px;
              stroke: #868e96;
            }
            span {
              color: #868e96;
            }
          }
        }
      }
    }
  }
}

// community Write
.community-write-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  .cm-write-inner {
    width: 100%;
    margin: 0 auto;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cm-type,
      .cm-title,
      .editor {
        width: 100%;
      }
      input {
        width: 100%;
        border: none;
        outline: none;
        padding: 14px 5%;
        font-size: 15px;
        font-weight: $font;
        font-weight: 600;
        &:first-child {
          border-bottom: 2px solid #f1f3f5;
        }
        &::placeholder {
          font-family: $font;
          color: #868e96;
          font-weight: 500;
        }
      }
      .alert {
        margin: 4px 0 4px 5%;
        font-size: 11px;
        color: red;
        font-weight: 500;
      }

      .ProseMirror.toastui-editor-contents {
        p {
          font-size: 15px;
        }
      }
      .toastui-editor-popup {
        margin: 0;
      }

      button.cm-submit {
        width: 90%;
        margin: 0 auto;
        font-size: 14px;
        font-family: $font;
        font-weight: 500;
        color: white;
        background-color: #212529;
        border: none;
        outline: none;
        padding: 14px 0;
        border-radius: 10px;
        margin: 20px 0;
      }
    }
    .cm-bg {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      opacity: 0;
      transition: 0.5s;
    }
    .cm-bg.show {
      opacity: 1;
      transition: 0.3s;
    }
    .cm-type-box.show {
      transform: translateY(0%);
      transition: 0.5s;
    }

    .cm-type-box {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 110;
      background-color: white;
      padding: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transform: translateY(100%);
      transition: 0.5s;
      .type-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        strong {
          font-size: 16px;
        }
        svg {
          width: 25px;
          height: 25px;
          stroke-width: 1.5px;
          cursor: pointer;
          stroke: #868e96;
        }
      }
      .type-body {
        width: 100%;
        ul {
          width: 100%;
          li {
            width: 100%;
            padding: 10px 0;
            cursor: pointer;
            border-bottom: 1px solid #f1f3f5;
            &:last-child {
              border: none;
            }
            span {
              font-size: 14px;
              font-weight: 600;
              color: black;
            }
          }
        }
      }
    }
  }
}
// Community-detail
.cm-detail {
  width: 100%;
  .cm-detail-top-inner {
    width: 100%;
    border-bottom: 10px solid rgba(0, 0, 0, 0.05);
    .cm-detail-top {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px 0;
      .cm-detail-type {
        width: 100%;

        span {
          font-size: 12px;
          font-weight: 600;
          color: #222;
          background-color: #f1f3f5;
          padding: 3px 7px;
          border-radius: 10px;
        }
      }
      .cm-detail-title {
        width: 100%;
        strong {
          font-size: 20px;
        }
      }
      .cm-detail-user-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .cm-detail-user-info-left {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 7px;
          .cm-detail-user-image {
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 10px;
            box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
            background-color: rgb(0 0 0 / 15%);
            overflow: hidden;
            @include flexCenter();

            svg {
              width: 40px;
              height: 40px;
              stroke-width: 1px;
              stroke: white;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .cm-detail-user-info {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            span {
              font-size: 13px;
              font-weight: 500;
              color: #222;
              &:last-child {
                color: #868e96;
              }
            }
          }
        }
        .cm-detail-user-info-right {
          cursor: pointer;
          span {
            font-size: 16px;
            letter-spacing: -2px;
            font-weight: 700;
            color: #868e96;
          }
          .community-bg {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
            opacity: 0;
            transition: 0.5s;
          }
          .community-bg.show {
            opacity: 1;
            transition: 0.3s;
          }
          .community-options.show {
            transform: translateY(0%);
            transition: 0.5s;
          }
          .community-options {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 110;
            transform: translateY(100%);
            transition: 0.5s;
            .community-options-inner {
              width: 90%;
              margin: 0 auto;
              ul {
                width: 100%;
                background-color: white;
                border-radius: 10px;
                li {
                  padding: 14px 0;
                  border-bottom: 1px solid #f1f3f5;
                  @include flexCenter();
                  cursor: pointer;
                  span {
                    font-size: 14px;
                    color: black;
                    font-weight: 500;
                  }
                  span.block {
                    color: #868e96;
                    pointer-events: none;
                  }
                  &:last-child {
                    border: none;
                  }
                }
              }
              button {
                width: 100%;
                margin: 10px 0;
                font-family: $font;
                color: #868e96;
                font-weight: 500;
                font-size: 14px;
                padding: 14px 0;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }

  .cm-detail-mid-inner {
    width: 100%;
    padding: 20px 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.05);
    .cm-detail-mid {
      width: 90%;
      margin: 0 auto;
      font-size: 14px;
    }
  }
  .cm-detail-bottom-inner {
    width: 100%;
    .community-comment {
      width: 100%;
      .comment-count-box {
        width: 100%;
        padding: 14px 5%;
        border-bottom: 1px solid #f1f3f5;
        strong {
          font-size: 15px;
        }
      }
      .comment-write-wrapper {
        width: 100%;
        padding: 14px 5%;
        border-bottom: 1px solid #f1f3f5;
        .comment-write-inner {
          width: 100%;
          border-radius: 10px;
          background-color: #f1f3f8;
          padding: 10px 16px;
          position: relative;
          .comment-user {
            width: 100%;
            margin-bottom: 8px;
            strong {
              font-size: 14px;
            }
          }
          textarea {
            width: 100%;
            min-height: 18px;
            max-height: 104px;
            resize: none;
            font-size: 14px;
            font-family: $font;
            font-weight: 500;
            line-height: 18px;
            background-color: transparent;
            outline: none;
            border: none;
            &::placeholder {
              font-size: 14px;
              color: #868e96;
              font-weight: 500;
              font-family: $font;
            }
          }
          .comment-write-btn {
            width: 100%;
            margin: 10px 0;
            @include flexCenter();
            justify-content: flex-end;
            span {
              display: block;
              font-family: $font;
              font-size: 12px;
              color: white;
              font-weight: 400;
              background-color: $colorPuple;
              border-radius: 10px;
              padding: 6px 14px;
              cursor: pointer;
            }
          }
          .comment-login {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(3px);
            @include flexCenter();
            flex-direction: column;
            gap: 10px;
            p {
              font-size: 16px;
              color: #222;
              font-weight: 600;
            }
            .login-box {
              display: flex;
              gap: 8px;
              span {
                display: block;
                font-family: $font;
                font-size: 12px;
                color: white;
                font-weight: 400;
                background-color: $colorPuple;
                border-radius: 10px;
                padding: 6px 14px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .comment-list {
      width: 100%;
      ul {
        width: 100%;
        li {
          width: 100%;
          padding: 14px 5%;
          border-bottom: 1px solid #f1f3f5;
          &:last-child {
            border: none;
          }
          .comment-list-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .comment-list-user {
              display: flex;
              align-items: center;
              gap: 7px;
              .comment-list-user-image {
                width: 27px;
                height: 27px;
                border: 1px solid white;
                border-radius: 50%;
                box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
                background-color: rgba(0, 0, 0, 0.15);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 100%;
                  object-fit: cover;
                }
                svg {
                  width: 27px;
                  height: 27px;
                  stroke-width: 1px;
                  stroke: white;
                }
              }
              .comment-list-user-name {
                p {
                  font-size: 14px;
                  font-weight: 600;
                }
              }
            }
            .comment-list-options {
              span {
                font-size: 16px;
                letter-spacing: -2px;
                font-weight: 700;
                color: #868e96;
                cursor: pointer;
              }
              .community-bg {
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
                opacity: 0;
                transition: 0.5s;
              }
              .community-bg.show {
                opacity: 1;
                transition: 0.3s;
              }
              .comment-options.show {
                transform: translateY(0%);
                transition: 0.5s;
              }
              .comment-options {
                width: 100%;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 110;
                transform: translateY(100%);
                transition: 0.5s;
                .comment-options-inner {
                  width: 90%;
                  margin: 0 auto;
                  ul {
                    width: 100%;
                    background-color: white;
                    border-radius: 10px;
                    li {
                      padding: 14px 0;
                      border-bottom: 1px solid #f1f3f5;
                      @include flexCenter();
                      cursor: pointer;
                      span {
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      }
                      span.block {
                        color: #868e96;
                        pointer-events: none;
                      }
                      &:last-child {
                        border: none;
                      }
                    }
                  }
                  button {
                    width: 100%;
                    margin: 10px 0;
                    font-family: $font;
                    color: #868e96;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 14px 0;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    background-color: white;
                  }
                }
              }
            }
          }
          .commnet-list-mid {
            width: 100%;
            p {
              width: 100%;
              font-size: 14px;
              font-weight: 500;
              margin-bottom: 7px;
            }
            span {
              font-size: 13px;
              color: #868e96;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// Transaction
.transaction-page {
  width: 100%;
  @include suvNavStyle();
  padding-top: 55px;
  .transaction-inner {
    width: 90%;
    margin: 0 auto;
    min-height: 60vh;
    @include flexCenter();
    .transaction-biz {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .biz-box {
        width: 47%;
        padding: 50px 20px;
        border-radius: 10px;
        cursor: pointer;
        @include flexCenter();
        p {
          font-size: 15px;
          font-weight: 500;
          color: white;
        }
      }
      .buy {
        background-color: $colorBlue;
        background-image: -webkit-linear-gradient(
          -45deg,
          #748ffc 0%,
          #3b5bdb 80%
        );
        box-shadow: 0 4px 10px 0 rgb(59 91 219 / 40%),
          inset 0px 2px 3px rgb(255 255 255 / 10%),
          inset 0px 1px 1px rgb(255 255 255 / 20%),
          inset 0px -2px 3px rgb(0 0 0 / 12%),
          inset 0px -1px 2px rgb(0 0 0 / 25%);
      }
      .sell {
        background-color: $colorPuple;
        background-image: -webkit-linear-gradient(
          -45deg,
          #9775fa 0%,
          #6741d9 80%
        );
        box-shadow: 0 4px 10px 0 rgb(103 65 217 / 40%),
          inset 0px 2px 3px rgb(255 255 255 / 10%),
          inset 0px 1px 1px rgb(255 255 255 / 20%),
          inset 0px -2px 3px rgb(0 0 0 / 12%),
          inset 0px -1px 2px rgb(0 0 0 / 25%);
      }
    }
  }
  .sell {
    width: 90%;
    margin: 0 auto;
  }
}
